.cardItem {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: rgb(253, 249, 249);
    display: grid;               
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    gap: 5px;                 
}

.cardTitle {
    font-weight: 700;
    margin: 5px;  
    line-height: 1.2;
}

.cardAuthor {
    margin: 5px;
    font-weight: 100;
    line-height: 1.2;
}

.cardYear {
    margin: 5px;
    font-weight: 100;
    line-height: 1.2;
}
